:root {
  /* Primary colors */
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);

  /* Neutral colors */
  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsl(0, 0%, 0%);

  /* Font sizes */
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
}

@font-face {
  font-family: 'kumbhsans-400';
  src: url(../fonts/static/KumbhSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'kumbhsans-700';
  src: url(../fonts/static/KumbhSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'kumbhsans-400', sans-serif;
  font-size: var(--font-size-s);
  color: var(--neutral-dark-grayish-blue);
  background-color: var(--neutral-light-grayish-blue);
  font-weight: 400;
}

.menu-btn,
.brand-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* .brand-img {
  width: 100%;
  height: auto;
  cursor: pointer;
} */


.sec-nav {
  display: flex;
  list-style: none;
  align-items: center;
  column-gap: 1.4rem;
}

.cart-img {
  width: 25px;
  height: auto;
}

.avatar-img {
  width: 25px;
  height: auto;
}

.brand-name {
  font-family: 'kumbhsans-400', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  color: var(--neutral-grayish-blue);
}

.subheading {
  font-family: 'kumbhsans-700', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--neutral-very-dark-blue);
}

/* p {
  font-size: var(--font-size-s);
} */

.description {
  font-family: "kumbhsans-400", sans-serif;
  font-weight: 500;
  color: var(--neutral-dark-grayish-blue);
  font-size: 1.13rem;
}

/* .price-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
} */
.newprice-box {
  display: flex;
  /* justify-content: center;
  align-items: flex-start; */
  gap: 1rem;
  margin-top: 1rem;
  font-family: "kumbhsans-700", sans-serif;
  font-weight: 700;
  /* font-size: 28px; */
  color: var(--neutral-very-dark-blue);
}

.new-price {
  font-size: 28px;
  line-height: 1.2;
}

.discount {
  font-size: var(--font-size-s);
  color: var(--neutral-white);
  background-color: var(--neutral-black);
  border-radius: 5px;
  padding: 0.4rem 0.75rem;
}

.old-price {
  font-size: 20px;
  color: var(--neutral-grayish-blue);
  text-decoration: line-through;
  font-weight: 700;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.85rem;
  /* margin-top: 1rem; */
}

.thumbnails img {
  border-radius: 10px;
}

.thumbnail-img {
  border-radius: 10px;
}

.buy-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "add-to-cart add-to-cart-btn";
  grid-gap: 1rem;
  margin-top: 1.5rem;
  gap: 1rem;
}

.add-to-cart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: var(--neutral-light-grayish-blue);
  color: var(--neutral-very-dark-blue);
  font-family: 'kumbhsans-700', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-s);
}

.value {
  font-size: 20px;
  font-weight: 700;
  color: var(--neutral-very-dark-blue);
}

.add-to-cart-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--primary-orange);
  border-radius: 10px;
  background-color: var(--primary-orange);
  color: var(--neutral-very-dark-blue);
  font-family: 'kumbhsans-700', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-s);
  transition: all 0.3s;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: var(--primary-orange);
  opacity: 0.5;
}

.add-to-cart-btn img {
  width: 20px;
  height: auto;
  margin-right: 0.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width:768px) {
  main {
    width: 100% !important;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .img-col,
  .text-col {
    width: 100%;
  }
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none !important;
}

.nav-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background-color: var(--primary-orange);
}